.comment {
    width: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
}
.comment:nth-child(even) {
    background:#ddd;
    border-radius: 5px;
}

.commentBlock {
    max-width: 100%;
    width: 95%;
    display: flex;
    flex-direction: row;
}

.codeBlock {
    /*so a gigantic bar isn't covering the whole page. maybe handle this another way...*/
    /*stack overflow-ish font appearance*/
    /*max-width: 95%;*/
    /*width:95%;*/
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, 
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
    order: 1;
}

.commentBlock button {
    order:2;
    text-align: center;
    float: right;
}
