.commentFormContainer {
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 8px;
  background: rgb(253,253,253);
  margin: 15px 10% 15px 10%;
}

.commentForm input,
.commentForm span,
.commentForm button {
    margin-top: 5px;
}

.expandedCommentForm textarea {
  min-width: 10%;
  /*want to make it so the box can expand without expanding the comment box div*/
}

.expandedCommentForm input, 
.expandedCommentForm span, 
.expandedCommentForm button {
  margin: 7px 0px 7px 8px;
}


ul.dropdown-menu { 
/*need to make the dropdown display on top of its parent div, or maybe something better than that*/
}