.commentFormContainer {
  border: 1px solid lightcoral;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 15px; 
  margin-top: 15px;
  background: rgb(253,253,253);
  /*box-shadow: -3px 3px 1px #888888;*/
}

.commentForm input,
.commentForm span,
.commentForm button {
    margin-top: 5px;
}

.expandedCommentForm textarea {
  min-width: 10%;
  /*want to make it so the box can expand without expanding the comment box div*/
}

.expandedCommentForm input, 
.expandedCommentForm span, 
.expandedCommentForm button {
  margin: 7px 0px 7px 8px;
}


ul.dropdown-menu { 
/*need to make the dropdown display on top of its parent div, or maybe something better than that*/
}
