@import url("../../styles/base.css");

.topbar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  background: #ff9999;
  width: 100%;
  padding: 0 25px;

  height: var(--topbar-height);
  line-height: var(--topbar-height);
  color: #fff;
  box-shadow: 0px 1px 3px #888; 
}  
 .topbar a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;

    line-height: 40px;
 }
.topbar a h1 {
      font-size: 28px;
}
.topbar section {
  position: absolute;
  top: 0px;
  right: 25px;
}

