@import url("../../styles/base.css");
@import url("../../styles/queries.css");

.wrapper {

  overflow-y: scroll;
  position: relative;
  width: 100%;
  display: flex;
  margin: 0;
  

  height: 100vh;
  -webkit-box-orient: horizontal;
  -o-box-orient: horizontal;

  background: rgb(244,244,244);

  /*this breaks the comment box displaying next to the sidebar*/
  flex-direction: row;

  /*@media (--screen-phone-lg) {
    flex-direction: row;
  }*/

}

.content {
  position: relative;
  top: var(--topbar-height);
  left: 0;

  flex: 1;
  order: 1;
  /*@media (--screen-phone-lg) {
    flex: 2;
    order: 2;
  }*/
}

