@import url("../../styles/base.css");

.sidebar {
  float: left;
  height: 100%;
  width: var(--sidebar-width);
  top: var(--topbar-height);
  left: 0;
  overflow: hidden;
  padding-right: 15px;

  position: relative;

  background: var(--sidebar-color);
}
.sidebar .heading {
	flex: 1;
	border-bottom: 1px solid #eee;
	padding: 0 10px;
}
.sidebar .heading h1 {
    font-size: 1.8em;
}