@import url("../../styles/base.css");

.sidebar {
  display: flex;
  flex-direction: column;
  float: left;
  height: 100vh;
  width: var(--sidebar-width);
  top: var(--topbar-height);
  left: 0;

  margin-right: 8px;
  /*setting position to fixed resolves the sidebar not growing
  * in height when the wrapper div grew (until the user refreshes
  * or the scrollbar is clicked)
  */
  position: fixed; 

  background: var(--sidebar-color);
  box-shadow: 2px 0px 5px #888888;
}
.sidebar .heading {
  order: 1;
	padding: 0 10px;
}
.sidebar .heading h1 {
  color: white;
  font-size: 1.8em;
}