@import url("../../styles/base.css");
@import url("../../styles/queries.css");

.wrapper {
   overflow-y: scroll;
   margin-left: var(--sidebar-width);
}
.content {
  height:100vh;
  float: right;
  position: relative;
  top: var(--topbar-height);
  left: 15px;

  /*background: rgb(244, 244, 244);*/
}
